sentence-transformers==3.0.1
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq

chromadb

sentence-transformers
pypdf

python-dotenv

flask
flask-cors
